/* Add additional stylesheets below
-------------------------------------------------- */
/* Add additional stylesheets below
-------------------------------------------------- */
/* body{
	padding-top: 70px;
    padding-bottom: 40px;
}
 */

body{
	font-size:16px;
}

.form-control{
	border-radius: 0px;
}

table{background-color: rgba(225, 225, 225, 0.89);}

.error-template {padding: 40px 15px;text-align: center;}

/*header starts*/
.navbar-header{
	width:200px; !important	
}
.company-name{
	color:#842E11;
}
.company-slogan{
	margin-top: -12px;
	color:#486489;
}
.hblogo{margin-top:-5px;width: 32px;height: 32px;}
.navbar-bottom-color{
	border-bottom: 1px solid #00439B;
}

.navbar{border-radius: 0px;}

.contact-form{margin-top:10px;}

/* navigation link */
.nav > li > a{
	padding:17px 8px;
}

.navbar-default .navbar-nav > li > a {
    color: #3F4A53;
}

.navbar-default .navbar-nav > li > a:HOVER {
    background-color:#625D5D;
	color:#FFF;
}

.nav {
    padding-left: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-top: 2px;
}

.navbar-nav > li {
    float: left;
    padding: 1px;
}

/* footer starts */
.footer{list-style:none;}

.footer-right{
	margin-top: -5px;
}
.footer-copyright{
	padding-top: 10px;
}
/* footer ends */


/* contact-us form*/
.contact-us-form-error{
	float: right;
	margin-top: 0px;
	color: #FF0000;
}
.contact-us-form-input-error{
	border: 1px solid #FF0000;
}
.required{
	margin-top: 0px;
	color: #FF0000;
}
.contact-us-row-width{
	width:135px;	
}

/* home page*/
.donate-project-connect{
	margin-top:20px;
}
.donate-project-connect-box{
	border: 1px solid #C6C4C4;
	background-color: #D1D1D1;
	padding-bottom: 15px;
}
.news-row{margin-top:20px;}
.news-header{margin: 5px 0 10px 14px;font-weight: 600;}
.news-margin{margin-top:32px;}

.donation-list{
	font-size:20px;
}

/* form validation*/
.form-error-label label.error{
	width:auto;
	display:inline;
	color:#FF0000;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


