/* Add additional stylesheets below
-------------------------------------------------- */
/* Add additional stylesheets below
-------------------------------------------------- */
body{
	padding-top: 70px;
    padding-bottom: 40px;
}
      
.error-template {padding: 40px 15px;text-align: center;}

/*header starts*/
.navbar-header{
	width:200px; !important	
}
.company-name{
	color:#fff;
}
.company-slogan{
	margin-top: -12px;
	color:#fff;
}
.hblogo{margin-top:-5px;width: 32px;height: 32px;}
.contact-form{margin-top:10px;}
/* footer starts */
.footer{list-style:none;}
/* footer ends */

/* navigation link */
.nav > li > a{
	padding:15px 5px; !important
}

/* contact-us form*/
.contact-us-form-error{
	float: right;
	margin-top: 0px;
	color: #FF0000;
}
.contact-us-form-input-error{
	border: 1px solid #FF0000;
}
.required{
	margin-top: 0px;
	color: #FF0000;
}
.contact-us-row-width{
	width:135px;	
}

/* home page*/
.donate-project-connect{
	margin-top:20px;
}
.news-row{
	margin-top:20px;
}
.news-header{
	margin-left:14px;
}

/* form validation*/
.form-error-label label.error{
	width:auto;
	display:inline;
	color:#FF0000;
}