<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "${i18n('app.name')} ${i18n('donation.new')}">
		<div class="col-lg-6 col-lg-offset-3">
			<h3>${i18n('donation.new')}</h3>
			<form id="donationForm" action="/donation/new" method="post" class="form-group form-error-label">
			<@authenticityForm/>
				<div class="contact-form">
					<label>${i18n('donation.title')}</label><span class="required">*</span><h5 
					class="contact-us-form-error">${(flash.invalidName!)}</h5>
					<input type="text" id="title" name="title" class="form-control" value="${(flash.title!)}" 
					placeholder="${i18n('donation.title.placeholder')}">
				</div>
				<div class="contact-form">
					<label>${i18n('donation.amount')}</label><span class="required">*</span><h5 
					class="contact-us-form-error">${(flash.invalidAmount!)}</h5>
					<input type="number" id="amount" name="amount" class="form-control" min="1" value="${(flash.amount!)}"
					placeholder="${i18n('donation.amount.placeholder')}">
				</div>
				<div class="contact-form">
					<label>${i18n('donation.address')}</label><span class="required">*</span><h5 
					class="contact-us-form-error">${(flash.invalidAddress!)}</h5>
					<input type="text" id="address" name="address" class="form-control" value="${(flash.address!)}"
					placeholder="${i18n('donation.address.placeholder')}">
				</div>
				<div class="contact-form">
					<label>${i18n('donation.date')}</label><span class="required">*</span><h5 
					class="contact-us-form-error">${(flash.invalidDate!)}</h5>
					<input type="date" id="date" name="date" class="form-control" value="${(flash.date!)}"
					placeholder="${i18n('donation.date.placeholder')}">
				</div>
				<div class="contact-form">
					<input type="submit" class="btn btn-success" value="${(i18n('button.save'))}" 
					onclick="return confirm('${(i18n('event.confirm'))}')" />
				</div>
			</form>
		</div>
</@layout.myLayout>
<script>
$(function() {
    $( "#date" ).datepicker({
    	altField: "#actualDate",
    	dateFormat: "yy-mm-dd",
    	showAnim: "slideDown"
    });
  });

$().ready(function(){
	$("#donationForm").validate({
		rules:{
			title: "required",
			amount: "required",
			address: "required",
			date: "required",
			title:{
				required: true,
				minlength: 7
			},
			amount:{
				required:true
			},
			address:{
				required:true
			},
			date:{
				required:true
			}
		},
		messages:{
			title:{
				required: "Name required",
				minlength: "Name requires at least 7 characters"
			},
			amount:{
				required: "Amount required"
			},
			address:{
				required: "Address required"
			},
			date:{
				required: "Date required"
			}
		}
	});
});
</script>