<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "${i18n('app.name')} ${i18n('header.about')}">
	<h3>${i18n('header.about')}</h3>
	<p>
		We are a small charity run on totally voluntary basis in Nepal by a small team of childhood friends and elders from different countries 
		with a deep commitment to transform the lives of exploited, endangered and disadvantaged children in Nepal.
		<br />
		In Nepal, we have a very small team of dedicated voluntary staff who has good experience in the field of education and social campaigns. 
		They are the lifeblood for this organization.
		<br />
		If you want to be a part of it, then please feel free to <a href="/contact">Contact Us</a> directly or 
		<a href="https://www.facebook.com/Hamro-Bhabisya-181003218772401/">like us on facebook</a> to message or find updates about projects.
		<br />
		TOGETHER, WE CAN...

	</p>
</@layout.myLayout>