<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">
		<div id="slides">
		<#if imageList??>
			<#list imageList as list>
				<img src="/assets/image/${(list.pictureName)}.jpg" title="Hamrobhabisya projects www.hamrobhabisya.org"/>
			</#list>
			<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="glyphicon glyphicon-chevron-left"></i></a>
              <a href="#" class="slidesjs-next slidesjs-navigation"><i class="glyphicon glyphicon-chevron-right"></i></a>
		</#if>
		</div>
	<div class="row">
		<#if frontProject??>
			<div class="col-md-3">
				<#if picture??>
					<img class="img-responsive" src="/assets/image/${(picture.pictureName)}.jpg" alt="hamrobhabisya latest project"/>
				<#else>
				</#if>
			</div>
			<div class="col-md-9">
					<h3><a href="project/${(frontProject.id)}">${(frontProject.title)}</a></h3>
					<p>${(frontProject.description)} ...</p>
			</div>
		</#if>
	</div>
	<div class="row donate-project-connect">
		<div class="col-md-4 donate-project-connect-box">
			<div class="col-md-4 text-center news-margin">
				<img src="/assets/image/donation.png"/>
			</div>
			<div class="col-md-8">
				<h2>Donate</h2>
				<p>Your small donations can help a lot to a children </p>
				<a href="/donation" class="btn btn-primary">More</a>
			</div>
		</div>
		<div class="col-md-4 donate-project-connect-box">
			<div class="col-md-4 text-center news-margin">
				<img src="/assets/image/project.png"/>
			</div>
			<div class="col-md-8">
				<h2>Projects</h2>
				<p>view the list of projects we have done</p>
				<a href="/project" class="btn btn-primary">${i18n('homepage.project.all.btn')}</a>
			</div>
		</div>
		<div class="col-md-4 donate-project-connect-box">
			<div class="col-md-4 text-center news-margin">
				<img src="/assets/image/connect.png"/>
			</div>
			<div class="col-md-8">
				<h2>Connect</h2>
				<p>You can connect with us by following us on social</p>
				<a href="" class="btn btn-primary">More</a>
			</div>
		</div>
	</div>
	<div class="row news-row">
		<h3 class="news-header">${i18n('homepage.news.events')}</h3>
		<#if newsEvent??>
			<div class="col-md-6">
				<h3><a href="/project/${(newsEvent.id)}">${(newsEvent.title)}</a></h3>
				<#if newsPicture??>
					<img class="img-responsive" src="/assets/image/${(newsPicture.pictureName)}.jpg" alt="hamrobhabisya latest news"/>
				</#if>
			</div>
			<div class="col-md-6">
				<p>${(newsEvent.description)}</p>
				<a href="/project/events" class="btn btn-info">${i18n('homepage.news.all.btn')}</a>				
			</div>
		</#if>
	</div>
	<div class="row">
		<div class="row donate-project-connect">
			<div class="col-md-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/rtOvBOTyX00" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6">
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading">
							<h3>${i18n('donation.list.title')}</h3>
						</div>
					  <!-- Table -->
					  	<table class="table">
					  		<thead>
					  			<tr>
					  				<th>Name</th><th>Amount</th>
					  			</tr>
					  		</thead>
					  		<tbody>
								<#if donationList??>
									<#list donationList as list>
							  			<tr>
											<td>${(list.title)}</td><td>${(list.amount)}</td>		  				
							  			</tr>
									</#list>
								</#if>
					  		</tbody>
					  	</table>
					</div>
					<a href="/donation" class="btn btn-info">View More</a>
			</div>
		</div>
	</div>
        
<#if frontArticle??>

    <div class="jumbotron">
        <h2>
            <a href="/article/${frontArticle.id}">${frontArticle.title}</a>    
        </h2>  
        <p>${frontArticle.postedAt?date}</p>  
        <p><#noescape>${frontArticle.content}</#noescape></p>
    </div>
</#if>

<hr/>

<#if olderArticles??>
    
    <#list olderArticles as article>
        <h3>
            <a href="/article/${article.id}">${article.title}</a>    
        </h3>  
        <p>${article.postedAt?date}</p>  
    </#list>
    
</#if>
</@layout.myLayout>
<!-- <script type="text/javascript" src="/assets/js/jquery.bxslider.js"></script> -->

<script>
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 420, //528
        play: {
            active: true,
            auto: true,
            interval: 5000,
            swap: true,
            pauseOnHover: true,
            restartDelay: 2500,
            effect: "slide" // [string] Can be either "slide" or "fade".            
        },
        pagination: {
            active: false,
        },
        navigation: {
            active: false,
              // [boolean] Generates next and previous buttons.
              // You can set to false and use your own buttons.
              // User defined buttons must have the following:
              // previous button: class="slidesjs-previous slidesjs-navigation"
              // next button: class="slidesjs-next slidesjs-navigation"
          }
          
      });
    });
  </script>